.register {
    background-image: url('login_exbkg1.jpeg');
    background-size: cover;
    height: 100vh;
    width: 500vh;
    display: flex;
    align-items: left;
    justify-content: center;
  }
  
  .left{    
    padding: 30px;
    margin-top: 250;
  }
  h2{
    text-align: center;
    color: rgb(2, 23, 26);
    margin-top: 50;
    justify-content: center;
  }
  p {
    text-align: left;
  }
  h1{
    text-align: center;
    color:rgb(8, 8, 1);
    margin-top: 5;
    font-size: relative;
    font-display: block;
  }
  
  label {
    color: black;
    text-align: center;
  }
  
  p {
    color: black;
  }
  form {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .container {
    position: relative;
    right: 0;
    margin: 35px;
    max-width: 500px;
    padding: 30px;
    background-color: transparent;
  }  
  
  input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 3cm;
    border: 1px solid #ccc;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 16px;
    
  }
  
  button {
    background-color: #0d0d0d;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
  }
  button:hover {
    opacity: 3;
  }

  .password-match {
    border-color: green;
  }
  
  .password-mismatch {
    border-color: red;
  }
  